parameters:
  debug: true
  # Don't worry weary traveller, this gets overwritten ;)
  password: 5FZ2Z8QIkA7UTZ4BYkoC+GsReLf569mSKDsfods6LYQ8t+a8EW9oaircfMpmaLbPBh4FOBiiFyLfuZmTSUwzZg==

  securityContainer.defaultSecurity:
    public: false

  security.firewalls:
    main:
      pattern: ^/
      anonymous: true
      form:
        login_path: /login
        check_path: /login/check

      logout:
        logout_path: /logout
        target_url: /
        invalidate_session: true

      users:
        admin:
          - ROLE_ADMIN
          - "%password%"

  security.access_rules:
    -
      - ^/admin
      - ROLE_ADMIN
    -
      - ^/projects/private
      - ROLE_ADMIN


  twig.path: "%app.dir%/src/Views"

  # Useful for testing, won't be in live
  monolog.logfile: /tmp/mono.log