<nav class="navbar navbar-default background" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">rargh.co.uk</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id='navbar' class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% include 'navbar/item.twig' with {'name': 'Home', 'url': path('index')} %}
                {% include 'navbar/item.twig' with {'name': 'Blog', 'url': 'http://blog.rargh.co.uk/'} %}
                {% include 'navbar/item.twig' with {'name': 'Projects', 'url': path('projects.index') } %}

                {% if not is_granted('ROLE_ADMIN') %}
                    {% include 'navbar/item.twig' with {'name': 'Login', 'url': '/login'} %}
                {% else %}
                    {% include 'navbar/item.twig' with {'name': 'Logout', 'url': '/logout'} %}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>