{% extends "base.twig" %}

{% block content %}
    <div class="segment">
        <p class="lead">Congratulations / Commiserations!</p>
        <p style="padding-bottom:10px">
            You've stumbled across the website of Doug, a software engineer in the UK. Alas, this site isn't more than just a breeding ground for half finished projects rather than anything truly substantial.
        </p>
        <hr>
        <p style="padding-bottom:10px">
            Here, if you are lucky you will find some links to some random cool stuff I've worked on at some point, none of which I imagine will be very interesting to you.
        </p>
        <p style="padding-bottom:10px">
            If you're less lucky you shall instead just reach a sea of placeholders and nonsense. My apologies either way, I would recommend continuing your tour of the internet elsewhere.
        </p>
    </div>
{% endblock %}