{% extends "base.twig" %}

{% block content %}

    <div class="segment">
        <h3>To Create!</h3>
        <p>
            The scraping software exists! This page as yet does not. What a sad state of affairs
        </p>
    </div>

{% endblock %}