{% extends "base.twig" %}

{% block content %}

    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-6">
                <div class="segment" style="margin-bottom: 20px; padding-top: 15px; padding-bottom: 15px">
                    <p class="lead" style="margin-bottom: 0px">Private Projects</p>
                </div>

                {% for project in private_projects %}
                    {% include 'Projects/project.twig' with {'project': project} %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="col-md-{% if is_granted('ROLE_ADMIN') %}6{% else %}12{% endif %}">
            <div class="segment" style="margin-bottom: 20px; padding-top: 15px; padding-bottom: 15px">
                <p class="lead" style="margin-bottom: 0px">Public Projects</p>
            </div>

            {% for project in public_projects %}
                {% include 'Projects/project.twig' with {'project': project} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}