{% extends "base.twig" %}

{% block content %}
    <div class="segment">
        So, this will contain details regarding the state of that boiler I'm monitoring

        All I've got to do is code the frontend and make some better monitoring software
    </div>
{% endblock %}