{% extends "base.twig" %}

{% block content %}
    <div class="segment">
        <div class="row">
            <div class="col-md-3">
                <form action="{{  path('projects.boiler.download') }}" method="get">
                    <div class="form-group">
                        <label for="startdate">Start Date:</label>
                        <input type="date" value="{{ startdate }}" class="form-control" name="startdate" id="startdate"/>
                    </div>
                    <div class="form-group">
                        <label for="enddate">End Date:</label>
                        <input type="date" value="{{ enddate }}" class="form-control" name="enddate" id="enddate"/>
                    </div>
                    <div class="form-group text-center" style="padding-top: 10px">
                        <button class="btn btn-default">
                            Download
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <p>Use the date picker to the right to download a relevant CSV</p>
                <p>Have a graph showing what temperature the boiler was over the last 24 hours</p>
                <div id="lastday" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>

    <script>
        google.charts.load('current', {'packages': ['corechart']});

        (function() {
            var temperatureData = {{ temperatureData | json_encode | raw }};
            var chartDiv = document.getElementById("lastday");

            // Adjust the width appropriately
            var rawData = [
                ["Time", "Set Temperature", "Actual Temperature"]
            ];

            // Adjust the data
            for (var x = 0; x < temperatureData.length; x++) {
                var row = temperatureData[x];

                // Remove any faulty data that somehow got this far
                if (row.set_temperature == null) {
                    continue;
                }
                rawData.push([
                    new Date(row.datetime),
                    +row.set_temperature,
                    +row.actual_temperature
                ]);
            }

            google.charts.setOnLoadCallback(function(){
                var data = google.visualization.arrayToDataTable(rawData);
                var options = {
                    curveType: 'function',
                    legend: {position: 'bottom', textStyle:{color: '#FFF'}},
                    hAxis: {title: 'Time', type: 'datetime', titleTextStyle: {color: '#FFF'}, textStyle:{color: '#FFF'}},
                    vAxis: {minValue: 0, textStyle:{color: '#FFF'}, titleTextStyle: {color: '#FFF'}},
                    backgroundColor: { fill:'transparent' },
                    fontColor: "#fff"
                };

                var chart = new google.visualization.LineChart(chartDiv);
                chart.draw(data, options);
            });
        })();
    </script>

{% endblock %}