{% extends "base.twig" %}

{% block content %}
    <div class="segment">
        <div class="row">
            <div class="col-md-3">
                <form action="{{  path('projects.boiler.download') }}" method="get">
                    <div class="form-group">
                        <label for="startdate">Start Date:</label>
                        <input type="date" value="{{ startdate }}" class="form-control" name="startdate" id="startdate"/>
                    </div>
                    <div class="form-group">
                        <label for="enddate">End Date:</label>
                        <input type="date" value="{{ enddate }}" class="form-control" name="enddate" id="enddate"/>
                    </div>
                    <div class="form-group text-center" style="padding-top: 10px">
                        <button class="btn btn-default">
                            Download
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <p>Use the date picker to the right to download a relevant CSV</p>
                <p>Some form of graph generation would probably be kind of neat</p>

                <canvas id="lastday" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <script>
        (function() {
            var temperatureData = {{ temperatureData | json_encode | raw}};
            var chart = document.getElementById("lastday");

            // Adjust the width appropriately
            chart.width = chart.parentElement.clientWidth - 20;

            var labels = [];
            var setTemp = [];
            var actualTemp = [];
            var dataLength = temperatureData.length;

            // Adjust the data
            for (var x = 0; x < temperatureData.length; x++) {
                var row = temperatureData[x];

                // Remove any faulty data that somehow got this far
                if (row.set_temperature == null) {
                    continue;
                }

                labels.push(row.datetime);
                setTemp.push(row.set_temperature);
                actualTemp.push(row.actual_temperature);
            }

            Chart.types.Line.extend({
                name: "LineAlt",
                initialize: function (data) {
                    Chart.types.Line.prototype.initialize.apply(this, arguments);
                    var xLabels = this.scale.xLabels;
                    xLabels.forEach(function (label, i) {
                        //console.log(dataLength / 10);
                        if ((i % Math.floor((dataLength / 20))) != 0) {

                            xLabels[i] = '';
                        }
                    })
                }
            });

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Set Temperature",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        scaleFontColor: "#fff",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: setTemp
                    },
                    {
                        label: "Actual Temperature",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        scaleFontColor: "#fff",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: actualTemp
                    }
                ]
            };

            var myLineChart = new Chart(chart.getContext("2d")).LineAlt(data, {
                scaleFontColor: "#ffffff"
            });
        })();
    </script>
{% endblock %}